<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo left">
            <h1>O.H.P</h1>
            <p>one hour project</p>
        </div>
        <div class="modes right">
            <span>modes :</span>
            <a href="#">classic</a> | <a href="#">low tech</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            {{articles}}
        </div>
    </div>
</body>
</html>